In [3]:
# !pip install -e git+https://github.com/SohierDane/BigQuery_Helper#egg=bq_helper

In [10]:
from bq_helper import BigQueryHelper
import os
import pandas as pd

In [5]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "credentials/endless-beach-228506-b15de187c224.json"

In [6]:
bq_assistant = BigQueryHelper(active_project="bigquery-public-data", dataset_name="chicago_crime")

In [7]:
bq_assistant.list_tables()

['crime']

In [8]:
len(bq_assistant.list_tables())

1

In [11]:
bq_assistant.table_schema('crime')
sc = bq_assistant.table_schema('crime')

In [12]:
sc

,name,type,mode,description
0,unique_key,INTEGER,REQUIRED,Unique identifier for the record.
1,case_number,STRING,NULLABLE,The Chicago Police Department RD Number (Recor...
2,date,TIMESTAMP,NULLABLE,Date when the incident occurred. this is somet...
3,block,STRING,NULLABLE,The partially redacted address where the incid...
4,iucr,STRING,NULLABLE,The Illinois Unifrom Crime Reporting code. Thi...
5,primary_type,STRING,NULLABLE,The primary description of the IUCR code.
6,description,STRING,NULLABLE,"The secondary description of the IUCR code, a ..."
7,location_description,STRING,NULLABLE,Description of the location where the incident...
8,arrest,BOOLEAN,NULLABLE,Indicates whether an arrest was made.
9,domestic,BOOLEAN,NULLABLE,Indicates whether the incident was domestic-re...
10,beat,INTEGER,NULLABLE,Indicates the beat where the incident occurred...
11,district,INTEGER,NULLABLE,Indicates the police district where the incide...
12,ward,INTEGER,NULLABLE,The ward (City Council district) where the inc...
13,community_area,INTEGER,NULLABLE,Indicates the community area where the inciden...
14,fbi_code,STRING,NULLABLE,Indicates the crime classification as outlined...
15,x_coordinate,FLOAT,NULLABLE,The x coordinate of the location where the inc...
16,y_coordinate,FLOAT,NULLABLE,The y coordinate of the location where the inc...
17,year,INTEGER,NULLABLE,Year the incident occurred.
18,updated_on,TIMESTAMP,NULLABLE,Date and time the record was last updated.
19,latitude,FLOAT,NULLABLE,The latitude of the location where the inciden...
20,longitude,FLOAT,NULLABLE,The longitude of the location where the incide...
21,location,STRING,NULLABLE,The location where the incident occurred in a ...

In [13]:
df = pd.DataFrame(sc)

In [18]:
len(df.loc[df['type'] == 'TIMESTAMP'])

2

In [22]:
df['type']

0       INTEGER
1        STRING
2     TIMESTAMP
3        STRING
4        STRING
5        STRING
6        STRING
7        STRING
8       BOOLEAN
9       BOOLEAN
10      INTEGER
11      INTEGER
12      INTEGER
13      INTEGER
14       STRING
15        FLOAT
16        FLOAT
17      INTEGER
18    TIMESTAMP
19        FLOAT
20        FLOAT
21       STRING
Name: type, dtype: object

In [23]:
fields_for_plotting = ['latitude', 'longitude']